/*!*******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./css/style1.css ***!
  \*******************************************************************/
.aaa {
	color: red;
}

/*!************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/less-loader/dist/cjs.js!./css/style2.less ***!
  \************************************************************************************************************/
.box1 {
  width: 100px;
  height: 100px;
  background: yellowgreen;
}
.img {
  background: url(../img/c00d656a738b9a0354d0.png);
  background-size: 100% 100%;
}

