.a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-evenly;
  border: 2rpx solid;
  overflow: auto;
  >.b{
    background: red;
    color: #fff;
  }
  .b2{
    border: 1px solid;
  }
  .row{
    display: flex;
    align-items: center;
  }
  .block{
    width: 200rpx;
    height: 500px;
    background: red;
    margin: 20rpx;
  }
}
.no_shrink{
  flex-shrink: 0;
}